@using CarInsurance.ViewModels
@model List<QuoteVm>

<div class="row row-no-gutters m-3">
    <div class="glyphicon-credit-card col=sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Quotes</h5>
        </div>
        <div class="card-body">
            @foreach (var quote in Model)
            {
                
            <div class="row">
                <div class="col">
                    @quote.FirstName
                </div>
                <div class="col">
                    @quote.LastName
                </div>
                <div class="col">
                    @quote.EmailAddress
                </div>
                <div class="col">
                    @quote.QuoteAmount
                </div>
            </div>
                
            }

        </div>
    </div>
</div>


