<!-- ko with: home -->


<div id="main">

    <h1>Shopping List (<span data-bind="text: items().length"></span>)</h1>
    <ul data-bind="template: {name: 'itemsTemplate', foreach: items }"></ul>


    <script id="itemsTemplate" type="text/html">

        <li>
            
            <input data-bind="value: name" />
            <button data-bind="click: remove">Remove</button>

            <label><input type="checkbox" data-bind="checked: isInCart" />In My Cart</label>
        </li>
    </script>
    <button data-bind="click: addItem">Add item</button>


    <script type="text/javascript">
        var viewModel = {
            items: ko.observableArray([new item("eggs"), new item("butter")]),
            addItem: function () {
                this.items.push(new item("another"));
            }
        };
        function item(name) {
            return {
                name: ko.observable(name),
                isInCart: ko.observable(false),
                remove: function () {
                    viewModel.items.remove(this);
                }
            };
        }
        ko.applyBindings(viewModel, document.getElementById('main'));
    </script>
</div>
<!-- /ko -->
